html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
header {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

body {
    color: #333;
    font-size: 13px;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background-color: whiteSmoke;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
    background-image: -moz-linear-gradient(#f9f9f9, #f5f5f5);
    background-image: -ms-linear-gradient(#f9f9f9, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
    background-image: -o-linear-gradient(#f9f9f9, #f5f5f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0);
    background-image: linear-gradient(#f9f9f9, #f5f5f5);
    border-bottom: 1px solid #EEE;

    margin-bottom: 10px;
}
header h1 {
    color: #999;
    line-height: 18px;
    text-align: center;
    padding: 9px 0;
    text-transform: uppercase;
}
input[type="password"] {
    background: white;
    padding-left: 4px;
    width:196px;
}

input[type="checkbox"] {
    background: white;
    margin: 10px;
    width:18px;
}

label {
    position: absolute;
    font-size: 85%;
    line-height: normal;
    margin-top: 4px;
}

input {
    float: left;
    width: 174px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

    display: block;
    height: 18px;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: gray;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-image: initial;
    vertical-align: baseline;
    margin: 5px;
    padding-left: 26px;
    background: white url(icons.png) 5px 5px no-repeat;

}
button {
    float: left;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:50px;
    margin: 3px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}

button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
button:active {
    position:relative;
    top:1px;
}
fieldset a.clr_search {
    background: url('icons.png') no-repeat 0 -25px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 13px;
    left: 300px;
    display: none;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

#bookmarks {
    padding: 0 15px;
}
#bookmarks a {
    cursor: pointer;
    color: #4183C4;
    text-decoration: none;
    background: url('icons.png') no-repeat -1px -101px;
    padding-left: 22px;
}
#bookmarks a:hover {
    text-decoration: underline;
}
#bookmarks a:visited {
    color: #551A8B;
}
#bookmarks .folder > a {
    background: url('icons.png') no-repeat 0 -75px;
}
#bookmarks .folder.open > a {
    background: url('icons.png') no-repeat 0 -49px;
    color: black;
}
#bookmarks ul {
    margin-left: 20px;
    display: none;
}
#bookmarks li.folder.open > ul {
    height: auto;
    display: block;
}


#bookmarks.insearch ul,
#bookmarks.insearch a {
    display: none;
}
#bookmarks.insearch .folder > a {
    text-decoration: none;
    cursor: default;
}
#bookmarks.insearch .open > ul,
#bookmarks.insearch .open > a {
    display: block;
}
#bookmarks a.hl {
    display: block;
}

#imgpreload {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.notice {
    color: #999;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    display: none;
}
.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}
.clear {
    clear: both;
}
